.wrapper {
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 80px); 
  margin-bottom: 5%;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  padding-bottom: 50px;
}
.title {
  font-size: 42px;
  font-weight: 600;
  margin-left: 10px;
  color: #fff;
  letter-spacing: 1px;
}
.line {
  width: 20%;
  height: 2px;
  background-color: #fff;
  margin-top: 10px;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detail {
  width: 50%;
  padding-top: 50px;
}
.image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.image img {
  z-index: 10;
  object-fit: contain;
  border-radius: 10px;
  max-width: 500px;
  max-height: 750px;
}
.primary_skill {
  width: 60%;
  margin-top: 20px;
  padding: 80px;
  background-color: #ffc8dd;
}

.skillboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.skillbox {
  width: 40%;
  margin-bottom: 20px;
}

.pastExp {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
}

.resumeBtn {
  background: transparent;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 64px;
  cursor: pointer;
  width: fit-content;
  border: 1.5px solid #fff;
  transition: all 0.5s ease;
}
.resumeBtn:hover {
  background: #fff;
  color: #000;
}

@media screen and (max-width: 1536px) {
  .image img {
    max-width: 450px;
  }
  .primary_skill {
    padding: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .image img {
    width: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .image img {
    width: 350px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 768px) {
  .image img {
    max-width: 300px;
  }
  .content {
    flex-direction: column;
    gap: 50px;
  }
  .detail {
    width: 100%;
  }
  .image {
    width: 100%;
    justify-content: center;
  }
  .primary_skill {
    width: 100%;
    padding: 50px 20px;
  }
  .pastExp {
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 640px) {
  .image img {
    max-width: 250px;
  }
  .content {
    flex-direction: column;
    gap: 50px;
  }
  .detail {
    width: 100%;
  }
  .image {
    width: 100%;
    justify-content: center;
  }
  .primary_skill {
    width: 100%;
    padding: 50px 20px;
  }
  .pastExp {
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }
}
